.light__shine_position_right{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: #4a426b; */
    border-radius: 50%;
    /* display: block; */
    filter: blur(0.3px);
    background-color: transparent;
    opacity: 0.5;
    box-shadow:
        inset -8px 0 6px 7px rgba(255, 200, 0, 0.5);
}