.light__bulb_status_active{
    /* position: absolute;
    display: block;
    height: 36px;
    width: 36px; */
    /* border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%, -50%); */
    background-color: rgb(255, 255, 78);
    /* filter: blur(0.2px); */
    box-shadow:
        0 0 4px 4px rgba(255, 255, 0, 0.7),
        0 0 10px 12px rgba(255, 200, 0, 0.7);
}

.light__bulb_status_active::before{
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-color: rgb(255, 255, 163);
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 3px 4px rgb(255, 255, 160);
}

/* .light__bulb_status_active::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-radius: 20%;
    box-shadow: 0 0 0 0 transparent;
    background-color: transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid white;
} */