.light__glare_type_round_2{
    height: 80%;
    width: 70%;
    bottom: 12%;
    left: 13%;
    border-radius: 50%;
    /* background-color: red; */
    box-shadow: -3px 1px 0 0px rgba(255, 255, 255, 1);
    filter: blur(0.8px);
    transform: rotate(-10deg); 
}