.light__glare_type_radial_1{
    bottom: 0;
    right: 0;
    border-radius: 30% 0 0 50%;
    height: 20%;
    width: 60%;
    filter: blur(2px);
    background-image: linear-gradient(to right, transparent, rgba(255, 2555, 255, 0.7));
    transform: rotate(60deg);
}