.switchers__switch_z_bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--switch-width);
    height: var(--switch-height);
    border-radius: calc(var(--switch-height)/2);
    background: var(--gradient-dark-box);
    box-shadow: var(--shadow-dark-switch);
    transition: var(--transition);
}
