/* Import styles */

@import "/src/common.blocks/switchers/switchers__icons.css";
@import "/src/common.blocks/switchers/switchers__icons_position_right.css";
@import "/src/common.blocks/switchers/switchers__icon-on.css";
@import "/src/common.blocks/switchers/switchers__icon-on_power.css";
@import "/src/common.blocks/switchers/switchers__icon-on_no-power.css";
@import "/src/common.blocks/switchers/switchers__icon-off.css";
@import "/src/common.blocks/switchers/switchers__icon-off_power.css";
@import "/src/common.blocks/switchers/switchers__icon-off_no-power.css";

@import "/src/common.blocks/switchers/switchers__inner_position_right.css";
@import "/src/common.blocks/switchers/switchers__inner_z_bottom.css";
@import "/src/common.blocks/switchers/switchers__inner_z_upper.css";

@import "/src/common.blocks/switchers/switchers__switch_z_bottom.css";
@import "/src/common.blocks/switchers/switchers__switch_z_upper.css";

@import "/src/common.blocks/switchers/switchers__switch-box_theme_dark.css";
@import "/src/common.blocks/switchers/switchers__switch-box_theme_light.css";
@import "/src/common.blocks/switchers/switchers__switch-box_z_bottom.css";
@import "/src/common.blocks/switchers/switchers__switch-box_z_upper.css";

@import "/src/common.blocks/switchers/switchers__icons.css";
@import "/src/common.blocks/switchers/switchers__trigger.css";
@import "/src/common.blocks/switchers/switchers__trigger_right.css";
@import "/src/common.blocks/switchers/switchers__switch-box.css";




.switchers {
    position: relative;
    width: var(--switch-box-width);
    height: var(--switch-box-height);
}