@import "./content__clock.css";
@import "./content__pagination.css";
@import "./content_theme_light.css";
@import "./content_theme_dark.css   ";

.content {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: var(--transition);
}