.content {
    height: 2000px;
    background: rgb(225, 167, 167);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: var(--bg-light); */
    /* position: relative; */
    transition: var(--transition)
}