@import "./content__clock.css";

.content {
    height: 2000px;
    background: rgb(225, 167, 167);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background: var(--bg-light); */
    /* position: relative; */
    transition: var(--transition);
}