.pagination__btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 50px;
    margin: 0 5px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 18px;
    transition: var(--transition);
    margin: 0 20px;
    border-radius: 2px;
}