@import "/src/common.blocks/page/page__header.css";
@import "/src/common.blocks/page/page__content.css";
@import "/src/common.blocks/page/page__footer.css";

.page {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background: var(--bg-light);
    transition: var(--transition)
}