.social__links__btn_theme_dark{
    background-color: var(--dark-color-bg-btn-accent-default);
    border: 5px solid var(--dark-color-bg-btn-accent-default);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3),
        0 10px 15px rgba(0,0,0,0.3) inset;
}