.clockface__serif_3d_small_theme_dark{
    border-left: 2px solid rgb(187, 112, 137);
    border-right: 2px solid darkgoldenrod;
    border-top: 2px solid #ffe;
    border-bottom: 4px solid rgb(242, 242, 154);
}