.clockface__wrap{
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}