.clockface__serif{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url(./indicator.svg);
    mask-image: url(./indicator.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #ffe;
    transition: 0.3s;
}

