.clockface__serif_3d_large_theme_dark{
    border-left: 4px solid rgb(187, 112, 137);
    border-right: 4px solid darkgoldenrod;
    border-top: 2px solid #ffe;
    border-bottom: 6px solid rgb(242, 242, 154);
}