.clockface__day-month {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    top: 70%;
    left: 60%;
    width: 35px;
    height: 35px;
    background-color: #ffe;
    border-radius: 50%;
    transition: var(--transition);
}