@import "./clockface__indicators.css";
@import "./clockface__day-week.css";
@import "./clockface__day-month.css";

@import "./clockface__number.css";
@import "./clockface__number.css";

@import "./clockface__icon-serif.css";

@import "./clockface__wrap.css";
@import "./clockface__serif.css";
@import "./clockface__light.css";

.clockface{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}