.clock__indicator{
    position: absolute;
    width: 340px;
    height: 340px;
    /* border: 5px solid salmon; */
    border-radius: 50%;
    /* background-color: bisque; */
    background-image: url(./indicator.svg);
    background-clip: content-box;
    background-position:50% 2%;
    background-size: 5px;
    background-repeat: no-repeat;
}

