@import "./clock_theme_dark.css";
@import "./clock_theme_light.css";

.clock {
    width:350px;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.clock:hover{
  width:360px;
  height:360px;
}


.clock:before {
    content:'';
    width:15px;
    height:15px;
    background: #eb4d4b;
    border-radius: 50%;
    z-index: 99;
  }