.clock__back{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eb4d4b;
    transition: var(--transition);
}


.clock__back::before{
    width: 500px;
    height: 500px;
}