@import "./clock__case_theme_dark.css";
@import "./clock__case_theme_light.css";
@import "./clock__back.css";
@import "./clock__case.css";
@import "./clock__mouse-hover.css";

@import "./clock__indicators.css";
@import "./clock__day-week.css";
@import "./clock__day-month.css";


.clock{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 350px;
  transition: var(--transition);
}
