@import "./clock__hour.css";
@import "./clock__minute.css";
@import "./clock__second.css";
@import "./clock_theme_light.css";
@import "./clock__indicator.css";
@import "./clock__indicator-curent.css";
@import "./clock__dateIndicator.css";

.clock {
    width:350px;
    height:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #091921;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
}

.clock:before {
    content:'';
    width:15px;
    height:15px;
    background: #eb4d4b;
    border-radius: 50%;
    z-index: 1000;
  }