@import "/src/common.blocks/header/header__lights.css";
@import "/src/common.blocks/header/header__switchers.css";
@import "/src/common.blocks/header/header_theme_dark.css";
@import "/src/common.blocks/header/header_theme_light.css";

.header {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light);
    transition: var(--transition)
}