
@import './slider_theme_dark.css';
@import './slider_theme_light.css';

@import './slider__slides.css';
@import './slider__slide.css';

@import './slider_current.css';
@import './slider_next.css';
@import './slider_previous.css';

.slider{
    position: relative;
    margin: 20px auto;
    width: 700px;
    height: 500px;
    overflow: hidden;
    background-color: beige;
    border: 2px solid black;
}