
@import './slider__slide_theme_dark.css';
@import './slider__slide_theme_light.css';

@import './slider__slides.css';
@import './slider__slide.css';

@import './slider_current.css';
@import './slider_next.css';
@import './slider_previous.css';

.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 460px;
    overflow: hidden;
    /* border-top: 2px solid red;
    border-bottom: 2px solid red; */
}