/* ---------------------------------------------------------- */
@import "./common.blocks/page/page.css";
/* ---------------------------------------------------------- */
@import "./common.blocks/header/header.css";

@import "./common.blocks/lights/lights.css";
@import "./common.blocks/switchers/swithers.css";
/* ---------------------------------------------------------- */
@import "./common.blocks/content/content.css";

@import "./common.blocks/generator/generator.css";
@import './common.blocks/slider/slider.css';
@import "./common.blocks/clock/clock.css";
@import "./common.blocks/clockface/clockface.css";
@import "./common.blocks/clockwork/clockwork.css";
@import "./common.blocks/pagination/pagination.css";
/* ---------------------------------------------------------- */
@import "./common.blocks/footer/footer.css";

.content1{
    width: 100%;
    height: 100%;
    background-color: red;
}

.content2{
    width: 100%;
    height: 100%;
    background-color: green;
}

.content3{
    width: 100%;
    height: 100%;
    background-color: blue;
}