/* Define vars for the root element */
:root {
    /* Animation */
    --transition: 0.5s cubic-bezier(0.9, 0, 0, 1);


    /* Sizes */
    --switch-box-width: 110px;
    --switch-box-height: 50px;

    --switch-width: calc(var(--switch-box-width)*0.8);
    --switch-height: calc(var(--switch-box-height)*0.7);;

    --icon-on-width: 3px;
    --icon-on-height: 15px;
    --icon-off-width: 12px;
    --icon-off-height: 12px;
    --icon-on: #a1f1f2;
    --icon-off-border-power: #f2a2a1;
    --icon-off-border-no-power: 3px solid #2d2d30;
    --icon-no-power: #2d2d30;
    
    --switch-inner-shift: 6%;
    
    /* Dark */
    --bg-dark: #171719;
    --icon-off-bg-dark: #111;
    
    --gradient-dark-box: linear-gradient(30deg, #171719, #212123);
    --inner-gradient-dark: linear-gradient(90deg, #171719 45%, #212123 55% );
    
    --shadow-dark-box: -4px -4px 20px rgba(255, 255, 255, 0.15), 
    4px 4px 20px rgba(0, 0, 0, 0.9);
    --shadow-dark-switch: 0 0 5px rgba(0, 0, 0, 0.3) inset;
    --shadow-dark-inner: ;
    --shadow-dark-icon-on: 0 0 25px rgba(0, 0, 0, 0.9);
    --shadow-dark-icon-off: ;
    --shadow-dark-icon-off-glow: 0 0 30px rgba(242, 162, 161, 0.8), inset 0 0 15px rgba(242, 162, 161, 0.5);
    

    /* Light */
    --bg-light: #ffd;
    --icon-off-bg-light: #fff;

    --gradient-light-box: linear-gradient(30deg, #fefef0, #d0d0c0);
    --inner-gradient-light: linear-gradient(90deg, #fefef0 45%, #d0d0c0 55% );

    --shadow-light-box: -4px -4px 20px rgba(255, 255, 255, 0.15), 
    4px 4px 20px rgba(0, 0, 0, 0.9);
    --shadow-light-switch: 0 0 5px rgba(0, 0, 0, 0.3) inset;
    --shadow-light-inner: ;
    --shadow-light-icon-off: 0 0 30px rgba(0, 0, 0, 0.8), inset 0 0 15px rgba(0, 0, 0, 0.5);
    --shadow-light-icon-on: ;
    --shadow-light-icon-on-glow: 0 0 30px 2px rgba(161, 241, 248, 0.8);
}

*,
*::before {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

/* SWITCH! */
/* ------------------------------------------------------------------------------------------------ */
/* Triggers for switch */
.switch-box .left-click-trigger,
.switch-box .right-click-trigger {
    position: absolute;
    top: calc((100% - var(--switch-height))/2);
    left: calc((100% - var(--switch-width))/2);
    width: calc(var(--switch-width)/2);
    height: var(--switch-height);
    border-radius: calc(var(--switch-height)/2);
}

.switch-box .right-click-trigger {
    left: 50%;
}
/* Switch movement on shutdown */
.switch-box.dark .switch .inner {
    left: 0;
}
/* ------------------------------------------------------------------------------------------------ */








